@import 'styles/base.styles.scss';

.tableitem{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(33, 63, 125, 0.1);
  padding: 2rem 0;
  cursor: pointer;
  transition: .5ms ease-in-out;

  &:hover{
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  }

  &__text{
    @include body-text(0.875rem);
    //width: 100%;
    flex: 1;
  }
}

