@import "styles/base.styles.scss";

.input__group{
  margin: 2rem 0;

  & > *{
    margin-bottom: 1.5rem;
  }

  &--link{
    color: $button-primary-color;
    font-family: "Avenir Next", sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  &--error-message{
    color: $error-text-color;
    margin-top: 0;
  }
}

.input__wrapper{
  @include base-input-style(27.9375rem);
}

.input__field{
  border: none;
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-family: "Avenir", sans-serif;
  font-size: 0.875rem;
  color: $secondary-text-color;

  &::placeholder{
    color: $secondary-text-color;
  }
}

$breakpoint-mobile: 495px;
@media (max-width: $breakpoint-mobile) {
  .input__wrapper{
    width: 90vw;
  }
}